<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: head"></head>

<body>

<nav th:replace="fragments/header.html :: nav"></nav>

<div class="container-fluid h-100">
    <div class="row h-100">
        <br>
        <div th:replace="fragments/sidebar.html :: sidebarAdmin"></div>
        <div class="col-10 bg-light">
            <div class="container-fluid">
                <div class="raw">
                    <div class="col mt-3">
                        <h1>Admin panel</h1>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">Пользователи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" th:href="@{/admin/add}" role="tab"
                                   aria-controls="profile" aria-selected="false">Добавить пользователя</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="col border border-bottom-0 bg-light p-2">
                                    <h4 class="mb-0">Все пользователи</h4>
                                </div>
                                <div class="w-100"></div>
                                <div class="col p-3 border bg-white text-dark">

                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Ник</th>
                                            <th scope="col">Имя</th>
                                            <th scope="col">Фамилия</th>
                                            <th scope="col">Роли</th>
                                            <th scope="col">Редактировать</th>
                                            <th scope="col">Удалить</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <th th:text="${user.id}"></th>
                                            <td th:text="${user.username}"></td>
                                            <td th:text="${user.firstName}"></td>
                                            <td th:text="${user.lastName}"></td>
                                            <td>
                        <span th:each="role : ${user.roles}"
                              th:text="${role.name.replaceFirst('ROLE_', '') + ' '}">
                        </span>
                                            </td>
                                            <td>
                                                <button class="btn btn-info" data-toggle="modal"
                                                        data-target="#exampleModal" data-whatever="@mdo"
                                                        th:attrappend="data-target=${user.id}">Редактировать
                                                </button>
                                                <div class="modal fade" id="exampleModal" th:attrappend="id=${user.id}"
                                                     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Редактирование пользователя</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:method="POST" th:action="@{/admin/update}">
                                                                    <div class="form-group">
                                                                        <label for="id"
                                                                               class="col-form-label">ID</label>
                                                                        <input th:readonly="true" id="id" path="id"
                                                                               type="text" class="form-control"
                                                                               name="id" th:value="${user.id}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="usernameEdit"
                                                                               class="col-form-label">Ник</label>
                                                                        <input id="usernameEdit" path="username"
                                                                               type="text" class="form-control"
                                                                               name="username"
                                                                               th:value="${user.username}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="firstNameEdit"
                                                                               class="col-form-label">Имя</label>
                                                                        <input id="firstNameEdit" path="firstName"
                                                                               type="text" class="form-control"
                                                                               name="firstName"
                                                                               th:value="${user.firstName}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="lastNameEdit"
                                                                               class="col-form-label">Фамилия</label>
                                                                        <input id="lastNameEdit" path="lastName"
                                                                               type="text" class="form-control"
                                                                               name="lastName"
                                                                               th:value="${user.lastName}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="passwordEdit"
                                                                               class="col-form-label">Пароль</label>
                                                                        <input type="password" id="passwordEdit"
                                                                               path="password" class="form-control"
                                                                               name="password">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="rolesEdit" class="col-form-label">Роли</label>
                                                                        <select path="roles" name="roles" multiple
                                                                                class="form-control" id="rolesEdit"
                                                                                th:value="*{user.roles}" required>
                                                                            <option th:each="role : ${roles}"
                                                                                    th:text="${role.name.replaceFirst('ROLE_', '')}"
                                                                                    th:value="${role.id}"
                                                                                    th:selected="${user.roles?.contains(role)}"></option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Закрыть
                                                                        </button>
                                                                        <button type="submit" class="btn btn-info">
                                                                            Редактировать
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" data-toggle="modal"
                                                        data-target="#deleteModal" data-whatever="@mdo"
                                                        th:attrappend="data-target=${user.id}">Удалить
                                                </button>
                                                <div class="modal fade" id="deleteModal" th:attrappend="id=${user.id}"
                                                     tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModalLabel">Удаление пользователя</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:method="GET"
                                                                      th:action="@{/admin/delete/{id}(id = ${user.id})}">
                                                                    <div class="form-group">
                                                                        <label for="idDelete"
                                                                               class="col-form-label">ID</label>
                                                                        <input readonly id="idDelete" path="id"
                                                                               type="text" class="form-control"
                                                                               name="id" th:value="${user.id}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="usernameDelete"
                                                                               class="col-form-label">Ник</label>
                                                                        <input readonly id="usernameDelete"
                                                                               path="username" type="text"
                                                                               class="form-control" name="username"
                                                                               th:value="${user.username}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="firstNameDelete"
                                                                               class="col-form-label">Имя</label>
                                                                        <input readonly id="firstNameDelete"
                                                                               path="firstName" type="text"
                                                                               class="form-control" name="firstName"
                                                                               th:value="${user.firstName}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="lastNameDelete"
                                                                               class="col-form-label">Фамилия</label>
                                                                        <input readonly id="lastNameDelete"
                                                                               path="lastName" type="text"
                                                                               class="form-control" name="lastName"
                                                                               th:value="${user.lastName}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="rolesDelete" class="col-form-label">Роли</label>
                                                                        <select readonly path="roles" name="roles"
                                                                                multiple class="form-control"
                                                                                id="rolesDelete"
                                                                                th:value="*{user.roles}" required>
                                                                            <option th:each="role : ${roles}"
                                                                                    th:text="${role.name.replaceFirst('ROLE_', '')}"
                                                                                    th:value="${role.id}"
                                                                                    th:selected="${user.roles?.contains(role)}"></option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Закрыть
                                                                        </button>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            Удалить
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/footer.html :: scripts"/>

</body>
</html>